@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body {
    margin: 0;
    font-family: 'Gemunu Libre', sans-serif;
}

h1 {
    font-size: 50px;
}

.caption {
    width: 75vw;
    height: 160px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 56px;
}

.container {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks {
    width: 75%;
    height: 30%;
    padding: 1vmin;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* width: 75vw;
    height: 30vh; */
}

.block {
    /*flex: 1 0 200px;*/
    flex: 1 0;
    background-color: gray;
    margin: 2px;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.block:hover {
    background-color: cadetblue;
}

.restartBtn {
    width: 75vw;
    height: 100px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 50px;
    cursor: pointer;
}
